##### START OF UDPCONNECTOR BLOCK #####

### JetBrains IDE Staff ###

UdpConnectorService/.idea

### Build Files  ###

UdpConnectorService/build

### CMake File ###

UdpConnectorService/CMakeLists.txt

### Temporary Files ###

UdpConnectorService/tmp

### Libs Directory ###

UdpConnectorService/libs

### Config Directory ###

UdpConnectorService/config

##### END OF UDPCONNECTOR BLOCK #####

